{
  "token": "DISCORDBOTTOKEN",
  "prefix": "!",
  "epurl": "https://evepraisal.com/appraisal.json",
  "systemAliases": {
    "ourhome" : "thera",
    "ourstaging" : "niarja"
  },
  "administrators": [
    "DISCORDUSERID"
  ]
}